TG_BOT_API_KEY="апи ключ бота"
TG_BOT_SECRET="секрет для вебхука"

CFG_LOGS_FOLDER=/logs
CFG_DATE_TIME_FORMAT="Y-m-d H:i:s"

DB_CONNECTION=mysql
DB_HOST=mysql-8.0
DB_PORT=3306
DB_DATABASE=test_snack_bot
DB_USERNAME=root
DB_PASSWORD=
DB_TABLE_PREFIX=